[Unit]
Description=Application deployment system
After=network-online.target sail.socket
Requires=network-online.target sail.socket

[Service]
ExecStart=/usr/local/bin/saild
Restart=on-failure

[Install]
WantedBy=multi-user.target
