[Unit]
Description=Application deployment system
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/saild
Restart=on-failure

[Install]
WantedBy=multi-user.target
