name: ci
on: push
jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Check-out repository
        uses: actions/checkout@v5.0.0

      - name: Set up Just command runner
        uses: extractions/setup-just@v3.0.0

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2

      - name: Check formatting
        run: just format-ci

  clippy:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: --deny warnings
    steps:
      - name: Check-out repository
        uses: actions/checkout@v5.0.0

      - name: Set up Just command runner
        uses: extractions/setup-just@v3.0.0

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2

      - name: Run clippy
        run: just check
